.hero .container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero__left{
        width: 50%;
        height: 100%;
        background-color: green;
    }
    .hero__right{
        width: 50%;
        height: 100%;
        background-color: red;
    }
}