@use '../util/' as util;
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    cursor: pointer;
    .navbar__left{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;
            gap: 3rem;
            img{
                width: 90px;
                height: 50px;
            }
            .list{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    font-family: util.$font-inter;
                    list-style: none;
                    font-size: 1rem;
                    color: util.$gray;
                }
            }
    }
    .navbar__right{
            .login{
                width: 78px;
                height: 38px;
                font-size: 0.85rem;
                border: none;
                background-color: transparent;
                a{
                    list-style-type: none;
                    text-decoration: none;
                    color: util.$gray;
                }
            }
            .signup{
                width: 78px;
                height: 38px;
                font-size: 0.80rem;
                color: white;
                background-color: #7F56D9;
                border-radius: 10px;
                border: none;
            }
    }
}

@media screen and (max-width:1000px){

    .navbar__left .list{
        width: 20px;
    }
}
